{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="{{url_for('new_questions')}}">
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.hidden_tag() }}
                {{ form.question.label(class="form-control-label") }}
                {% if form.question.errors %}
                    {{ form.question(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.question.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.question(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.choice_1.label(class="form-control-label") }}
                {% if form.choice_1.errors %}
                    {{ form.choice_1(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.choice_1.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.choice_1(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.choice_2.label(class="form-control-label") }}
                {% if form.choice_2.errors %}
                    {{ form.choice_2(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.choice_2.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.choice_2(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.choice_3.label(class="form-control-label") }}
                {% if form.choice_3.errors %}
                    {{ form.choice_3(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.choice_3.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.choice_3(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">_
                {{ form.choice_4.label(class="form-control-label") }}
                {% if form.choice_4.errors %}
                    {{ form.choice_4(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.choice_4.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.choice_4(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.answer_1.label(class="form-control-label") }}
                {% if form.answer_1.errors %}
                    {{ form.answer_1(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.answer_1.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.answer_1(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>


{% endblock %}