{% extends "layout.html" %}
{% block content %}
<form method="POST" action="{{url_for('results')}}">
    <fieldset class="form-group">
        <div class=" form-group container mt-5 border p-3">
            {{ form.hidden_tag() }}
            {{ form.q1.label(class="form-control-label") }} <br>
            {% for subfield in form.q1 %}
                <tr>
                    <td>{{ subfield }}</td>
                    <td>{{ subfield.label }}</td>
                </tr>
                <br>
            {% endfor %}
            </ul>
        </div>
        <div class="form-group container mt-3 border p-3">
            {{ form.q2.label(class="form-control-label") }} <br>
            {% for subfield in form.q2 %}
                <tr>
                    <td>{{ subfield }}</td>
                    <td>{{ subfield.label }}</td>
                </tr>
                <br>
            {% endfor %}
        </div>
        <div class="form-group  container mt-3 border p-3">
            {{ form.q3.label(class="form-control-label") }} <br>
            {% for subfield in form.q3 %}
                <tr>
                    <td>{{ subfield }}</td>
                    <td>{{ subfield.label }}</td>
                </tr>
                <br>
            {% endfor %}
        </div>
        <div class="form-group  container border p-3 mt-3">
            {{ form.q4.label(class="form-control-label") }} <br>
            {% for subfield in form.q4 %}
                <tr>
                    <td>{{ subfield }}</td>
                    <td>{{ subfield.label }}</td>
                </tr>
                <br>
            {% endfor %}
        </div>
            <div class="form-group container mt-3 border p-3">
            {{ form.text.label(class="form-control-label") }}
                {% if form.text.errors %}
                    {{ form.text(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.text.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.text(class="form-control form-control-lg") }}
                {% endif %}

        </div>
    </fieldset>
    <div class="form-group container mt-3 border p-3">
        {{ form.submit(class="btn btn-outline-info") }}
    </div>
</form>
{% endblock %}